<section class="block container">
  <header class="block__header">
    <h2>Host on the cloud to keep growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, hic.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 class="feature__heading">Easy Start & Managed Updates</h3>

      <p class="feature__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        ipsum eum excepturi. Debitis, quod. Ipsum iusto et nobis saepe similique
        quam iure, amet minima dolorem obcaecati nobis saepe similique quam
        iure, amet minima dolorem obcaecati nobis saepe similique quam iure,
        amet minima dolorem obcaecati nobis saepe similique quam iure, amet
        minima dolorem obcaecati molestiae commodi laudantium fugiat tempora
        eveniet, velit labore ipsa natus laudantium fugiat tempora eveniet,
        velit labore ipsa natus
      </p>

      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="./images/easy.jpg" class="feature__image" alt="diagram" />
  </article>
</section>
