<section class="block block--dark block-skewed-right block-showcase">
  <header class="block__header">
    <h2>User-Friendly control panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="feature__image" src="./images/ipad.png" alt="banner" />
    <ul class="list">
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#menu"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aspernatur, odit?amet consectetur adipisicing elit amet
              consectetur
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aspernatur, odit? amet consectetur adipisicing elit amet
              consectetur
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aspernatur, odit? amet consectetur adipisicing elit amet
              consectetur
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
